upwatch/trunk/config/result.dtd

<!ELEMENT result	((ping|httpget|iptraf|sysstat|bb_disk|bb_bgp|bb_conn|bb_cpu|bb_dhcp|bb_dns|
                          bb_ftp|bb_http|bb_hylafax|bb_ismtp|bb_msgs|bb_mysql|bb_pop3|
                          bb_procs|bb_radius|bb_smtp|bb_squid|bb_svcs|mysql)*)>
<!ATTLIST result	fromhost #REQUIRED> 

<!ELEMENT host		(hostname,ipaddress?)>
<!ELEMENT hostname      (#PCDATA)>
<!ELEMENT ipaddress	(#PCDATA)>

<!ELEMENT color     	(#PCDATA)>

<!ELEMENT info      	(#PCDATA)>

<!ELEMENT min      	(#PCDATA)>
<!ELEMENT avg      	(#PCDATA)>
<!ELEMENT max      	(#PCDATA)>

<!ELEMENT lookup      	(#PCDATA)>
<!ELEMENT connect      	(#PCDATA)>
<!ELEMENT pretransfer   (#PCDATA)>
<!ELEMENT total		(#PCDATA)>

<!ELEMENT in      	(#PCDATA)>
<!ELEMENT out      	(#PCDATA)>

<!ELEMENT loadavg	(#PCDATA)>
<!ELEMENT user		(#PCDATA)>
<!ELEMENT system	(#PCDATA)>
<!ELEMENT nice		(#PCDATA)>
<!ELEMENT idle		(#PCDATA)>
<!ELEMENT swapin	(#PCDATA)>
<!ELEMENT swapout	(#PCDATA)>
<!ELEMENT blockin	(#PCDATA)>
<!ELEMENT blockout	(#PCDATA)>
<!ELEMENT swapped	(#PCDATA)>
<!ELEMENT free		(#PCDATA)>
<!ELEMENT buffered	(#PCDATA)>
<!ELEMENT cached	(#PCDATA)>
<!ELEMENT used		(#PCDATA)>
<!ELEMENT systemp	(#PCDATA)>

<!ELEMENT ping		(host,color,min,avg,max,info?)>
<!ATTLIST ping		id NMTOKEN #REQUIRED 
			investigate NMTOKEN #FIXED "icmptraceroute"
			date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED
			notify NMTOKEN "1" >

<!ELEMENT httpget	(host,color,lookup,connect,pretransfer,total,info?)>
<!ATTLIST httpget	id NMTOKEN #REQUIRED 
			investigate NMTOKEN #FIXED "tcptraceroute"
			port NMTOKEN "80"
			date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED
			notify NMTOKEN "1" >

<!ELEMENT iptraf	(in?,out?)>
<!ATTLIST iptraf	id NMTOKEN #REQUIRED 
			date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED
			notify NMTOKEN "1" >

<!ELEMENT sysstat	(loadavg,user,system,nice,idle,swapin,swapout,
			blockin,blockout,swapped,free,buffered,cached,used,systemp)>
<!ATTLIST sysstat	server NMTOKEN #REQUIRED 
			date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED
			notify NMTOKEN "1" >

<!ELEMENT mysql		(host,color,connect,total,info?)>
<!ATTLIST mysql		id NMTOKEN #REQUIRED 
			investigate NMTOKEN #FIXED "tcptraceroute"
			port NMTOKEN "80"
			date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED
			notify NMTOKEN "1" >

<!ELEMENT bb_disk	(host,color,info?)>
<!ATTLIST bb_disk	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_bgp	(host,color,info?)>
<!ATTLIST bb_bgp	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_conn	(host,color,info?)>
<!ATTLIST bb_conn	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_cpu	(host,color,info?)>
<!ATTLIST bb_cpu	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_dhcp	(host,color,info?)>
<!ATTLIST bb_dhcp	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_dns	(host,color,info?)>
<!ATTLIST bb_dns	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_ftp	(host,color,info?)>
<!ATTLIST bb_ftp	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_http	(host,color,info?)>
<!ATTLIST bb_http	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_hylafax	(host,color,info?)>
<!ATTLIST bb_hylafax	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_ismtp	(host,color,info?)>
<!ATTLIST bb_istmp	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_msgs	(host,color,info?)>
<!ATTLIST bb_msgs	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_mysql	(host,color,info?)>
<!ATTLIST bb_mysql	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_pop3	(host,color,info?)>
<!ATTLIST bb_pop3	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_procs	(host,color,info?)>
<!ATTLIST bb_procs	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_radius	(host,color,info?)>
<!ATTLIST bb_radius	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_smtp	(host,color,info?)>
<!ATTLIST bb_stmp	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_squid	(host,color,info?)>
<!ATTLIST bb_squid	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>
<!ELEMENT bb_svcs	(host,color,info?)>
<!ATTLIST bb_svcs	date NMTOKEN #REQUIRED 
			expires NMTOKEN #REQUIRED>

